__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pdb
*.egg
*.egg-info/
dist/
build/
*.so

venv/
.env

.vscode/
.idea/

*.log

*.pyc
*.pyo
*.pyd

htmlcov/
.tox/
.nox/
.coverage
*.cover
*.py,cover
.hypothesis/
coverage.xml

.ipynb_checkpoints

*.manifest
*.spec

pip-log.txt
pip-delete-this-directory.txt

.DS_Store

Thumbs.db
ehthumbs.db
Desktop.ini